.hero {
  background: linear-gradient(to bottom, #f5f9fc, #193d55);
  height: 80vh;
  width: 100vw;
  /* border: 1px solid red; */
  /* Other styles for the hero section */
}

.hero-dm {
  background: linear-gradient(to bottom, #193d55, #242a2f);
  height: 80vh;
  width: 100vw;
  /* border: 1px solid red; */
  /* Other styles for the hero section */
}
